body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,blockquote {
  border:0;
  margin:0;
  padding:0;
}

body {
  font-family:Helvetica, Arial, Sans-Serif;
  line-height:24px;
  background:#eee url(../images/body-bg.jpg) center top no-repeat;
}

#container {
  width:925px;
  margin:0 auto;
  padding:143px 0 0;
}

#header {
  background:url(../images/header-bg.png) right bottom no-repeat;
  overflow:hidden;
  padding:0 0 50px;
}

#header h1 {
  float:left;
}

div#navigation h2 {
  display:none;
}

#header #block-menu-primary-links ul.menu {
  float:right;
  list-style:none;
  margin:16px 0 0;
}

#header #block-menu-primary-links ul.menu li {
  float:left;
  margin:0 0 0 40px;
}

#header #block-menu-primary-links ul.menu li a {
  display:block;
  font-size:14px;
  font-weight:700;
  text-transform:uppercase;
  color:#a42988;
  text-shadow:0 2px 0 #fff;
  text-decoration:none;
}

#content {
  background:url(../images/content-bg.png) right top repeat-y;
  overflow:hidden;
}

#content a {
  font-weight:700;
  text-transform:uppercase;
  color:#a42988;
  text-shadow:0 2px 0 #fff;
  text-decoration:none;
}

#content #main {
  width:685px;
  float:left;
  padding:0;
}

#content #main h2 {
  margin:0 0 16px;
}

#content #main p {
  color:#474747;
  font-size:15px;
  margin:0 0 25px;
}

#content #main .node {
  background:url(../images/post-divider.png) right bottom no-repeat;
  overflow:hidden;
  margin:0 0 55px;
  padding:0 47px 55px 0;
}

#content #main .date {
  width:62px;
  height:57px;
  float:left;
  background:#0085cc url(../images/date-bg.jpg);
  text-align:center;
  margin:0 20px 0 0;
  padding:15px 0 0;
}

#content #main .date p {
  font-size:40px;
  font-weight:700;
  color:#fff;
  text-shadow:0 2px 3px #006ab1;
}

#content #main .date p span {
  display:block;
  font-size:17px;
  font-weight:400;
  text-transform:uppercase;
  margin:5px 0 0;
}

#content #main .node .content {
  width:556px;
}

div.node div.inner {
  width:556px;
  float:left;
}

#content #main .node div.links ul.links {
  width:515px;
  height:21px;
  clear:both;
  list-style:none;
  display:block;
  background:#d6d6d6 url(../images/meta-bg.jpg);
  padding:14px 20px;
}

#content #main .node .content div.links ul.links {
  width:515px;
  height:21px;
  list-style:none;
  background:#d6d6d6 url(../images/meta-bg.jpg);
  padding:14px 20px;
}

#content #sidebar {
  width:200px;
  float:left;
  padding:5px 20px;
}

#content #sidebar h1,#content #sidebar h2,#content #sidebar h3 {
  font-size:20px;
  text-transform:uppercase;
  color:#fff;
  text-shadow:0 2px 3px #b8b8b8;
  margin:0 0 5px;
}

#content #sidebar ul.menu {
  list-style:none;
  margin:0 !important;
  padding:0 !important;
}

#content #sidebar ul.menu li {
  font-size:12px;
  margin:0 0 5px;
}

#content #sidebar ul.menu li a {
  display:block;
  width:157px;
  height:23px;
  text-align:center;
  background:#eee url(../images/sidebar-btn.png);
  padding:12px 20px;
}

.block ul {
  padding:0;
}

h1#site-name a {
  color:#A42988;
  font-weight:700;
  text-decoration:none;
  text-shadow:#ccc 0 2px 0;
  text-transform:uppercase;
}

#footer {
  background:url(../images/footer-bg.png) center top no-repeat;
  overflow:hidden;
  min-height:139px;
}

#footer p#back-top {
  float:right;
  margin:25px 20px 0 0;
}

#footer p#back-top a {
  font-size:12px;
  text-transform:uppercase;
  text-decoration:none;
  color:#a42988;
  text-shadow:0 2px 0 #fff;
}

#header #block-menu-primary-links ul.menu li a:hover,#content a:hover,#footer p#back-top a:hover {
  color:#006ab1;
}

#content #main .node div.links ul.links li,#content #main .node .content div.links ul.links li {
  float:left;
  font-size:15px;
  font-weight:700;
  text-transform:uppercase;
  color:#fff;
  text-shadow:0 2px 3px #b8b8b8;
  margin:0 40px 0 0;
}

#content #main .node ul.links li.read-more,#content #main .node .content div.links ul.links li.read-more {
  float:right;
  margin:0;
}

#content #main .node ul.links li a,#content #main .node .content div.links ul.links li a {
  color:#fff;
  text-shadow:0 2px 3px #b8b8b8;
}

#content #main .node ul.links li a:hover,#content #main .node .content div.links ul.links li a:hover {
  color:#eee;
}

#content #sidebar ul.menu li.leaf,#content #sidebar ul.menu li.collapsed,ul.menu li.leaf,ul.menu li.collapsed {
  list-style-image:none;
  list-style-type:none;
}

/* Administration area */
i {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
*/
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #999;
}

legend {
  text-transform: uppercase;
  text-shadow: #B8B8B8 0px 2px 3px;
  font-weight: 700;
}

.description {
  color: #898989;
  line-height: 150%;
  margin-bottom: 0.75em;
  font-size: 15px;
}

input[type=submit] {
  padding: 7px;
  border-radius: 10px;
}

input[type=submit]:hover {
  color: #fff;
  text-shadow: #898989 0 1px 2px;
}